<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script src="cordova.js"></script>
		<script data-main="scripts/main" src="scripts/libs/require.js"></script>
		<link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<link href="styles/main.css" rel="stylesheet" />
	</head>
	<body>

			<div data-role="view" 
				 id="home" 
				 data-init="app.views.home.init" 
				 data-before-show="app.views.home.beforeShow" 
				 data-show="app.views.home.show"   
				 data-after-show="app.views.home.aftershow"   
				 data-title="Hello PhoneApp"  
				 data-model="app.views.home.viewModel"
				data-layout="drawer-layout">
                <h2 data-bind="text: message"></h2>
				<a href="#phone/page2.html">Link to page 2</a>
			</div>


        

<div data-role="layout" data-id="drawer-layout">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-rel="drawer" href="#my-drawer" data-icon="drawer-button" data-align="left"></a>
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#home">Index</a>
        </div>
    </header>
</div> 
 
        
<div data-role="drawer" id="my-drawer" style="width: 270px" data-views="['page2']">
    <ul data-role="listview" data-type="group">
        <li>Mailbox
            <ul>
                <li data-icon="inbox"><a href="#drawer-home" data-transition="none">Inbox</a></li>
                <li data-icon="star"><a href="#drawer-starred" data-transition="none">Starred Items</a></li>
                <li data-icon="compose"><a href="#drawer-drafts" data-transition="none">Drafts</a></li>
                <li data-icon="sent"><a href="#drawer-sent" data-transition="none">Sent Items</a></li>
                <li data-icon="trash"><a href="#drawer-deleted" data-transition="none">Deleted Items</a></li>
                <li data-icon="spam"><a href="#drawer-spam" data-transition="none">Spam</a></li>
            </ul>
        </li>
        <li>Tasks
            <ul>
                <li>To Do</li>
                <li>In Progress</li>
                <li>Done</li>
                <li>High Priority</li>
                <li>Low Priority</li>
            </ul>
        </li>
        <li>Account
            <ul>
                <li data-icon="settings">Settings</li>
                <li data-icon="off">Log Out</li>
            </ul>
        </li>
    </ul>
</div>

	</body>
</html>
