<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="cordova.js"></script>
        <script data-main="scripts/main" src="kendo/js/require.js"></script>
        <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="styles/main.css" rel="stylesheet" />
    </head>
<body>

<div id="phoneApp" style="display:none;" > 
	<div data-role="view" 
    		id="home" 
            data-init="app.views.home.init" 
            data-before-show="app.views.home.beforeShow" 
            data-show="app.views.home.show"   
            data-after-show="app.views.home.aftershow"   
            data-title="Hello PhoneApp"  
            data-model="app.views.home.viewModel"> 
     <h2 data-bind="text: message"></h2>
    <a href="#phone/page2.html">Link to page 2</a> 
    </div> 
       <div data-role="layout" data-id="mainLayout" >
            <div data-role="header">
                <div data-role="navbar">
                    <a id="back-button" class="nav-button" data-align="left" data-role="backbutton">Tilbage</a>
                    <span data-role="view-title"></span>
                </div>
            </div>
        </div>
</div> 

<div id="tabletApp" style="display:none;"> 
	<div data-role="view" 
    		id="home" 
            data-init="app.views.home.init" 
            data-before-show="app.views.home.beforeShow" 
            data-show="app.views.home.show"   
            data-after-show="app.views.home.aftershow"   
            data-title="Hello TabletApp"  
            data-model="app.views.home.viewModel"> 
     <h2 data-bind="text: message"></h2>
     <a href="#tablet/page2.html">Link to page 2</a> 
    </div> 
       <div data-role="layout" data-id="mainLayout">
            <div data-role="header">
                <div data-role="navbar">
                    <a id="back-button" class="nav-button" data-align="left" data-role="backbutton">Tilbage</a>
                    <span data-role="view-title"></span>
                </div>
            </div>
        </div>
</div> 


</body>
</html>
