<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script src="cordova.js"></script>
		<script data-main="scripts/main" src="kendo/js/require.js"></script>
		<link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<link href="styles/main.css" rel="stylesheet" />
	</head>
	<body>

		<div id="phoneApp" style="display:none;" >
			<div data-role="view" 
				 id="home" 
				 data-init="app.views.home.init" 
				 data-before-show="app.views.home.beforeShow" 
				 data-show="app.views.home.show"   
				 data-after-show="app.views.home.aftershow"   
				 data-title="Hello PhoneApp"  
				 data-model="app.views.home.viewModel">
				<h2 data-bind="text: message"></h2>
				<a href="#phone/page2.html">Link to page 2</a>
			</div>
			<div data-role="layout" data-id="mainLayout" >
				<div data-role="header">
					<div data-role="navbar">
						<a id="back-button" class="nav-button" data-align="left" data-role="backbutton">Tilbage</a>
						<span data-role="view-title"></span>
					</div>
				</div>
			</div>
		</div>

		<div id="tabletApp" style="display:none;">
			<div data-role="splitview" >
				<div data-role="pane" id="left-pane">
					<div data-role="view" id="side-view">
						<div data-role="header">
							<div data-role="navbar">
								Slideout Test Left
							</div>
						</div>
						<h2>A menu, content, or other items you want out of the way until user toggles for it.</h2>
					</div>
				</div>

				<div data-role="pane" id="right-pane">
					<div data-role="view" id="main-view">
						<div data-role="header">
							<div data-role="navbar">
								<a id="toggle-button" data-click="app.views.home.toggleClick" data-align="left" data-icon="organize" data-role="button">Slide Out</a>
								Slideout Test Main
							</div>
						</div>
						<!-- put all your content in this div so you can also swipe
						like the facebook app, not just the toggle button -->
						<div id="container" data-role="touch" data-enable-swipe="true" data-swipe="app.views.home.toggleClick">
							<h2>My main content that I want to be the focus with the option to see a "hidden" left pane. The "Slide Out" button will accomplish this.</h2>
							<p>You can also swipe this pane so you can get the same slide out toggle animation as the "Slide Out" button.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>
