<script id="MyListviewTemplate" type="text/x-kendo-template">
#= CategoryName#
</script>
 <div data-role="view" id="page2" class="subpage" data-title="Hello" data-init="app.views.page2.init" data-before-show="app.views.page2.beforeShow" data-show="app.views.page2.show" data-after-show="app.views.page2.afterShow" data-model="app.views.page2.viewModel">
 <ul id="MyListview"></ul>

    
             TabletApp page 2
			<h2 data-bind="text: message"></h2>
            <a href="#home">Link to Home</a>
 </div>
